<div class="container-fluid" id="panel">
  <div class="row">
    <div class="col-md-6 mainBGLeft">
      <div class="mainLogo">
        Sangeetha Kannan
      </div>
      <div class="description">
        Happy-go-lucky & carefree | Loves to live in the moment <br />Mostly reserved, prefers spending some alone time
      </div>
      <div class="socialIcons">
        <div class="iconWrapper">
          <a href="https://www.facebook.com/sangee07" target="_blank">
            <div class="fbIcon">
            </div>
          </a>
          <a href="https://twitter.com/sangz0703" target="_blank">
            <div class="twitterIcon">
            </div>
          </a>
          <a href="https://plus.google.com/103591801837783897482" target="_blank">
            <div class="googleIcon">
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-6 mainBGRight">
      <div class="row navBar">
        <div class="menuButton" id="sideMenu">
        </div>
        <div class="loginButton">
          Login
        </div>
      </div>
      <div class="row" style="min-height:30px;">
      </div>
      {{#each posts as |post|}}
        <div class="row postRow">
          <div class="col-md-10 col-md-offset-1">
            <div class="row" style="margin-bottom:10px; margin-left:-13px;">
              <div class="col-md-12">
                <div class="pull-left" style="margin-right:5px;">
                  {{time post.postCreated 'format'}}
                </div>
                <div class="pull-left">
                  <a href="/category/{{post.Category.ID}}"><span class="catLink">• {{post.Category.CategoryName}}</span></a>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <a href="/post/{{post.ID}}"><h1>{{post.postTitle}}</h1></a>
              </div>
            </div>
            <div class="row postContent">
              <div class="col-md-12">
                {{{post.content}}}
              </div>
              <div class="postEllipsis">...</div>
            </div>
            <div class="row readMore">
              <div class="col-md-2">
                <a href="/post/{{post.ID}}">READ</a>
              </div>
            </div>
          </div>
        </div>
      {{/each}}

    </div>
  </div>
</div>
